:root {
  --main-bg-color: #fcfcfc;
  --secondary-bg-color: #ffffff;

  --primary-color: #46b346;
  --secondary-color: #aaaaaa;

  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;

  --border-focus-color: #0a0909;

  --default-hover-color: #f3f3f3;
  --secondary-hover-color: #2f9c2f;
}

*,
*::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outside-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
  background-color: var(--main-bg-color);
}

.border-radius-xs {
  border-radius: 0.5rem;
}
