:root {
  --main-bg-color: #fcfcfc;
  --secondary-bg-color: #ffffff;

  --primary-color: #46b346;
  --secondary-color: #aaaaaa;

  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;

  --border-focus-color: #0a0909;

  --default-hover-color: #f3f3f3;
  --secondary-hover-color: #2f9c2f;
}

*,
*::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

.outside-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-bg-color);
  padding: 4rem 0;
}

.outside-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 6px 5px #dbdadaf3;
  padding: 4rem 8rem;
  background-color: var(--secondary-bg-color);
  min-width: 25dvw;
  border-radius: 0 0 2rem 2rem;
}

.border-radius-xs {
  border-radius: 0.5rem;
}

/* FORM CONTAINER */
.heading-text {
  text-align: center;
}

.form-container,
.form-container-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-container-input label {
  font-weight: bold;
}

.form-container-input input {
  min-height: 2.5rem;
  padding: 0rem 0.5rem;
  border: 1px solid var(--secondary-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.form-container-input input:focus,
.form-container-input input:hover {
  border: 1px solid var(--border-focus-color);
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: var(--default-hover-color);
}

.form-container-button {
  font-weight: bold;
  margin-top: 0.8rem;
  min-height: 2rem;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  border: 2px solid #2b7e2b;
  -webkit-transition: 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.form-container-button:hover {
  background-color: var(--secondary-hover-color);
  border: 2px solid #112b11;
}
